<div class="grid" >
    <div class="col-8 col-offset-2">
        <div class="card">
            <!-- Navbar top -->
            <div class="navbar-top">
                <div class="title">
                    <h1>Profile</h1>
                </div>

            </div>
            <!-- End -->

            <!-- Sidenav -->
            <div class="sidenav">
                <div class="profile">
                    <img src="./assets/layout/images/téléchargement.jpeg" alt="" width="100" height="100">
                    <div class="name">
                        Ali Baba
                    </div>
                    <div class="job">
                        Admin
                    </div>
                </div>

            </div>
            <!-- End -->

            <!-- Main -->
            <div class="main">

                <div class="card">
                    <div class="card-body">
                        <table>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td>:</td>
                                <td>Ali Baba</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>:</td>
                                <td>imdezcode@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>:</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>:</td>
                                <td>2431341</td>
                            </tr>
                            <tr>
                                <td>password</td>
                                <td>:</td>
                                <td>Web Developer</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




